= render 'public/users/header', users: @users

h3 = @post.title
= "評価： #{@post.review}点"
= render 'public/posts/review', users: @users
= image_tag @post.get_image(100,100)
h5 = @post.genre.name
p = @post.introduction
p = @post.created_at.strftime("%Y/%m/%d")
- if @post.user.id == current_user.id
  = link_to "変更",  edit_post_path(@post, user_id: @post.user)
  
  
  
